body {
    font-family: "Rowdies", "Dancing Script", Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    background-image: url('../images/bg2.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.background {
    min-height: 100vh;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    /*border: 1px solid blue;*/
}

.content {
    text-align: center;
    font-size: 3.5rem;
    display: block;
    width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    justify-content: center;
    align-items: center;

    /*border: 1px solid black;*/
}

.sender {
    text-align: center;
    font-size: 3rem;
    font-style: italic;
    display: flex;
    justify-content: right;
    align-items: center;

    /*border: 1px solid green;*/
}

#wishesContainer {
    max-width: 50%;
    width: 50%;

    /*border: 1px solid red;*/
}

.color-change {
    animation: colorChange 15s infinite;
}
@keyframes colorChange {
    0% { color: red; }
    14% { color: orange; }
    28% { color: #a647f4; }
    42% { color: green; }
    57% { color: blue; }
    71% { color: indigo; }
    85% { color: violet; }
    100% { color: red; }
}

.falling-item {
    position: fixed;
    z-index: 999;
    pointer-events: none;
    animation: fall linear infinite;
}
@keyframes fall {
    0% {
        transform: translate(-1vw, -1vh) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translate(25vw, 105vh) rotate(720deg);
        opacity: 0;
    }
}
